@charset "UTF-8";
.agree_box {


}
.clause_wrap {
  &+.clause_wrap {
    margin-top: 40px;
  }
  .clause {
    &__tit {
      font-size: 1.5rem;
      color: $C-font-dark;
    }
    &__explanation {
      margin-top: 20px;
      font-size: $F-size-under;
      color: $C-font-basic;
      line-height: 1.5;
    }
    &__lst {
      list-style-type:square;
      margin-left: 20px;
    }
    &__lst &__item {

    }
  }

}
