@charset "UTF-8";
.contact_tit-area {
  padding: 20px 0 25px;
  text-align: center;
  border: 1px solid $C-bgFooter;
  border-width: 1px 0;
  background:url(../images/repeat_bg.png) repeat 0 0;

  .contactus_title {
    font-size: 2.1rem;
    color: #454545;
    strong {
      font-weight: $F-weight-bold;
    }
  }
  .contactus_desc {
    margin-top: 5px;
    font-size: $F-size-under;
    color: $C-font-basic;
    &:after {
      @include use-sprite(ico_arrowdown2);
      vertical-align: top;
      margin: 5px 0 0 5px;
    }
  }
}
.contact_map-area {
  width: 100%;
  height: 272px;

  margin: 0 auto;
  position: relative;
  overflow: hidden;

  #map {
    width: 100%;
    height: 272px;
  }
}
.contact {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
  @include clear();
  &__stit {
    position: absolute;
    left:25px;
    top:30px;
    font-family: $F-family-en2;
    font-weight: $F-weight-bold;
    font-size: $F-size-under;
    color: #818e9f;

    span {
      display: inline-block;
      vertical-align: top;
    }

    &:before {
      content:'';
      display: inline-block;
      vertical-align: top;
      width:15px;
      height:3px;
      margin: 8px 5px 0 0;
      background: #818e9f;
    }
  }
  &__info {
    margin: 70px 25px 0;
    @include clear();
  }
  &__info &__tit {
    font-family: $F-family-en;
    font-size: 1.8rem;
    font-weight: 600;
  }
  &__info &__addr {
    font-size: 1.3rem;
    color: $C-font-basic;
    line-height: 1.4;
    padding-top: 18px;
  }
  &__info &__email {
    font-family: $F-family-en2;
    font-size: 1.2rem;
    color:#242424;
    line-height: 1.4;
    padding-top: 10px;
  }
  &__email &__email-label {
    padding-right: 10px;
    color: $C-font-basic;
  }
  &__email &__email-link {
    color:#242424;
  }
  &__info &__sns {
    padding-top: 40px;
    margin-left: -18px;

  }
  &__sns-facebook,
  &__sns-twitter,
  &__sns-youtube {
    display: inline-block;
    vertical-align: top;
    padding: 0 15px;
    margin: 0 2px;
    height: 18px;
    text-align: center;
  }
  &__sns-facebook {
    &:before {
      @include use-sprite(ico_facebook);
    }
  }
  &__sns-twitter {
    &:before {
      @include use-sprite(ico_twitter);
      margin-top: 2px;
    }
  }
  &__sns-youtube {
    &:before {
      @include use-sprite(ico_youtube);
    }
  }

  &__form {
    margin: 20px 25px 0;
    //position: absolute;
    //top: 100px;
    //left: 765px;
    font-size: 1.2rem;
    @include clear();
    .form-group {
      margin: 10px 0;
    }
    //.control-label {
    //  float:left;
    //  width : 60px;
    //  padding-left: 20px;
    //  margin-top: 7px;
    //}
    .form-control {
      //float:left;
      width: 100%;
      text-indent: 10px;

    }
  }
  &__form &__form-box {
    box-sizing: border-box;
    background: $C-bgColor;
    border: 1px solid #d5dcdc;
    padding: 10px 0;

    @include clear;
  }
  &__form &__text-box {
    clear:both;
    display: block;
    padding: 0 10px 0 0;
  }
  &__text-box {

    .form-control {
      display: block;
      width: 100%;
      height: 150px;
    }
  }
  .btn-primary {
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: $F-family-en;
  }
}
