@charset "UTF-8";
.inquire {
  margin-top:-50px;
  //border-top: 1px solid #eff5f5;
  padding: 0;

  &__desc {
    color: $C-font-basic;
    padding-top: 20px;
    text-align: center;
  }
  &__lst {
    //margin-top: 30px;
  }
  &__question {
    //display: inline-block;
    vertical-align: top;
    //max-width: 550px;
    margin: 2px 0 0 10px;

  }
  &__question-txt {
    @include ellipsis();
  }
  &__question-time {
    color: $C-font-basic;
    font-size: $F-size-small;
  }
  &__writeinfo {
    color: $C-font-dark;
    font-size: $F-size-small;
  }
  &__answer-writer {
    display: block;
    padding-bottom: 5px;
    font-weight: $F-weight-bold;
    font-size: $F-size-under;
    strong {
      font-weight: $F-weight-bold;
    }
  }
  &__answer-timer {
    color: $C-font-basic;
    display: block;

  }
  &__answer {
    margin-top: 8px;
    font-size: $F-size;
    line-height: 1.5;
  }
  &__regist {
    padding: 10px;
  }

  .ico_wait,
  .ico_end {
    display: inline-block;
    vertical-align: top;
    padding:4px 10px;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    background: #EAE9E9;
    color: $C-font-basic;
    font-size: $F-size-under;
  }
  .ico_wait {
    border: 1px solid #EAEAEA;
    background: $C-white;
    color: $C-brand-point;
  }
  .ico_arrow {
    @include use-sprite(ico_arrow_view);
  }

}
.wait {
  .ico_arrow {
    opacity: .5;
  }
  .panel__detail {
    display: none;
  }
}
.view {
  .ico_arrow {
    @include use-sprite(ico_arrow_hide);
  }
  .panel__detail {
    display: block !important;
  }
}
.inquire + .btn_wrap {
  padding:0;
  .btn {
    width:104px;
    height: 52px;
    padding:0;
    font-size: 1.8rem;
  }
  .btn-cancel+.btn-primary {
    margin-left: 7px;
  }
}
