@charset "UTF-8";
.study_wrap {
  //width: 100%;
  margin: 0 25px;
  .btn_wrap {
    padding: 0;
    .btn {
      //width:104px;
      height: 52px;
      padding:0;
      font-size: 1.8rem;
      &.end {
        font-size: $F-size;
        width: 142px;
      }
    }
    .btn-cancel+.btn-primary {
      margin-left: 7px;
    }

  }
}

.study {
  padding: 0 0 30px;
  @include clear();
  &__topdesc {
    margin: -30px 25px 20px;
    color: $C-font-basic;
    font-size: $F-size-under;
  }
  &__box {
    margin: 0;
  }
  &__label-desc {
    padding-left: 35px;
    padding-top: 5px;
    color: $C-font-basic;
    font-size: $F-size-under;
    letter-spacing: -1px;
    clear: both;
    display: block;
  }
  &__info {
    &.line {
      padding-bottom: 30px;
      border-bottom: 1px solid #ccc;
    }

  }
  &__info-div {
    padding:0;
    .form__label {
      padding-top: 15px;
    }
  }
  &__apply-plus {
    padding: 10px 0;
    display: block;
    clear:both;
  }
  &__info-title {
    @include clear();
    border-top: 2px solid $C-font-dark;
    border-bottom: 1px solid #d5dcdc;
    padding: 12px 0;

  }
  &__apply-end {
    text-align:center;
  }
  &__applyend-icon {
    margin-top: 10px;
    @include use-sprite(ico_ok);
  }
  &__applyend-message {
    margin-top: 10px;
    font-size: 2.1rem;
    color: $C-font-dark;
    font-family: $F-family-semibold;
  }
  &__applyend-message2 {
    margin-top: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: $C-font-basic;
  }
  &__agree-box {
    background: $C-white;
    border:1px solid #e0e4eb;
    .form-box {
      border-radius: 0;
      border:0;
      border-top:1px solid #e0e4eb;
    }
    .form__label {
      padding: 10px;
      font-size: 1.5rem !important;
    }
  }
  &__intro {
    position: relative;
    margin: -50px 0;
    min-height: 100%;
    background:url(../images/studyintro_bg.png) no-repeat 0 0;
    background-size: cover;
    padding: 50px 30px;
  }
  &__intro-tit {
    font-size: $F-size-xbig;
    color: #3F83BA;
  }
  &__intro-head {
    margin-top: 20px;
    font-size: 5.0rem;
    color: $C-white;
    letter-spacing: -1px;
    line-height: 1.1;
    strong {
      font-weight: $F-weight-bold;
    }
  }
  &__intro-stit {
    margin-top: 20px;
    font-size: $F-size-xbig;
    color: $C-white;
    letter-spacing: -1px;
  }
  &__intro-summary {
    margin: 50px 0 150px;
    color: #B4AEAE;
    font-size: $F-size-under;
  }
  .form__check-wrap {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    .form__check-label {
      font-size: $F-size-xbig;
      &:before,
      &:after {
        margin-top: 5px;
      }
    }
  }
  .form__checkbox {
    float:left;
  }
  .agreement-view {
    float:right;
    padding-top: 31px;
    .agree_link {
      font-size: $F-size-small;
      color: $C-font-basic;
      &:after {
        @include use-sprite(ico_arrow_view2);
        vertical-align: top;
        margin: 3px 0 0 5px;
      }
    }
  }
  .form-group {
    position: relative;
    .form-sgroup .form__label {
      font-size: 1.5rem;
      color: $C-font-dark;
    }
  }
  .help_link {
    @include use-sprite(ico_help);
    position: absolute;
    right: -30px;
    top: 60px;
  }
  .arrow_box {
    position: absolute;
    background: #ffffff;
    border: 1px solid #d6d6d6;
    left: 575px;
    top: 35px;
    white-space: normal;
    color: $C-font-basic;
    min-width: 133px;
    font-size: $F-size-under;
    line-height: 1.5;
  }
  .arrow_box:after, .arrow_box:before {
    left: -2px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 4px;
    margin-top: -4px;
  }
  .arrow_box:before {
    border-color: rgba(214, 214, 214, 0);
    border-right-color: #d6d6d6;
    border-width: 4px;
    margin-top: -4px;
  }

}