@charset "UTF-8";
.pop_wrap {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .74);
  z-index: 100;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  background: $C-white;
  border: 1px solid #d1d7e1;
  padding: 70px 75px;

  &__body {
    margin: 20px 0;
  }

}