@mixin spr_img($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img: (
    spritesheet_name: spr_img,
    total_width: 1408px,
    total_height: 571px,
    total_width_retina: 704px,
    total_height_retina: 285.5px,
    arrow_right: (
        offset_x: -1098px,
        offset_y: -201px,
        width: 7px,
        height: 8px,
        offset_x_retina: -549px,
        offset_y_retina: -100.5px,
        width_retina: 3.5px,
        height_retina: 4px),
    bg01: (
        offset_x: -419px,
        offset_y: -156px,
        width: 152px,
        height: 221px,
        offset_x_retina: -209.5px,
        offset_y_retina: -78px,
        width_retina: 76px,
        height_retina: 110.5px),
    bg02: (
        offset_x: 0,
        offset_y: -419px,
        width: 129px,
        height: 152px,
        offset_x_retina: 0,
        offset_y_retina: -209.5px,
        width_retina: 64.5px,
        height_retina: 76px),
    bg03: (
        offset_x: -731px,
        offset_y: -156px,
        width: 103px,
        height: 103px,
        offset_x_retina: -365.5px,
        offset_y_retina: -78px,
        width_retina: 51.5px,
        height_retina: 51.5px),
    bg04: (
        offset_x: 0,
        offset_y: 0,
        width: 415px,
        height: 415px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 207.5px,
        height_retina: 207.5px),
    bg05: (
        offset_x: -133px,
        offset_y: -419px,
        width: 50px,
        height: 146px,
        offset_x_retina: -66.5px,
        offset_y_retina: -209.5px,
        width_retina: 25px,
        height_retina: 73px),
    bg06: (
        offset_x: -575px,
        offset_y: -156px,
        width: 152px,
        height: 129px,
        offset_x_retina: -287.5px,
        offset_y_retina: -78px,
        width_retina: 76px,
        height_retina: 64.5px),
    f_ssl: (
        offset_x: -1024px,
        offset_y: -156px,
        width: 117px,
        height: 20px,
        offset_x_retina: -512px,
        offset_y_retina: -78px,
        width_retina: 58.5px,
        height_retina: 10px),
    ico_apply-end: (
        offset_x: -575px,
        offset_y: -289px,
        width: 85px,
        height: 85px,
        offset_x_retina: -287.5px,
        offset_y_retina: -144.5px,
        width_retina: 42.5px,
        height_retina: 42.5px),
    ico_arrow_hide: (
        offset_x: -1368px,
        offset_y: -156px,
        width: 15px,
        height: 9px,
        offset_x_retina: -684px,
        offset_y_retina: -78px,
        width_retina: 7.5px,
        height_retina: 4.5px),
    ico_arrow_next: (
        offset_x: -855px,
        offset_y: -238px,
        width: 6px,
        height: 9px,
        offset_x_retina: -427.5px,
        offset_y_retina: -119px,
        width_retina: 3px,
        height_retina: 4.5px),
    ico_arrow_prev: (
        offset_x: -865px,
        offset_y: -238px,
        width: 6px,
        height: 9px,
        offset_x_retina: -432.5px,
        offset_y_retina: -119px,
        width_retina: 3px,
        height_retina: 4.5px),
    ico_arrow_view: (
        offset_x: -1387px,
        offset_y: -156px,
        width: 15px,
        height: 9px,
        offset_x_retina: -693.5px,
        offset_y_retina: -78px,
        width_retina: 7.5px,
        height_retina: 4.5px),
    ico_arrow_view2: (
        offset_x: -1142px,
        offset_y: -180px,
        width: 9px,
        height: 14px,
        offset_x_retina: -571px,
        offset_y_retina: -90px,
        width_retina: 4.5px,
        height_retina: 7px),
    ico_arrowdown: (
        offset_x: -1181px,
        offset_y: -180px,
        width: 7px,
        height: 4px,
        offset_x_retina: -590.5px,
        offset_y_retina: -90px,
        width_retina: 3.5px,
        height_retina: 2px),
    ico_arrowdown2: (
        offset_x: -1167px,
        offset_y: -180px,
        width: 10px,
        height: 6px,
        offset_x_retina: -583.5px,
        offset_y_retina: -90px,
        width_retina: 5px,
        height_retina: 3px),
    ico_arrowright: (
        offset_x: -1109px,
        offset_y: -201px,
        width: 4px,
        height: 7px,
        offset_x_retina: -554.5px,
        offset_y_retina: -100.5px,
        width_retina: 2px,
        height_retina: 3.5px),
    ico_att: (
        offset_x: -993px,
        offset_y: -201px,
        width: 24px,
        height: 24px,
        offset_x_retina: -496.5px,
        offset_y_retina: -100.5px,
        width_retina: 12px,
        height_retina: 12px),
    ico_close: (
        offset_x: -1075px,
        offset_y: -201px,
        width: 19px,
        height: 18px,
        offset_x_retina: -537.5px,
        offset_y_retina: -100.5px,
        width_retina: 9.5px,
        height_retina: 9px),
    ico_delete: (
        offset_x: -1024px,
        offset_y: -180px,
        width: 17px,
        height: 17px,
        offset_x_retina: -512px,
        offset_y_retina: -90px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    ico_facebook: (
        offset_x: -1129px,
        offset_y: -180px,
        width: 9px,
        height: 17px,
        offset_x_retina: -564.5px,
        offset_y_retina: -90px,
        width_retina: 4.5px,
        height_retina: 8.5px),
    ico_help: (
        offset_x: -964px,
        offset_y: -201px,
        width: 25px,
        height: 25px,
        offset_x_retina: -482px,
        offset_y_retina: -100.5px,
        width_retina: 12.5px,
        height_retina: 12.5px),
    ico_login: (
        offset_x: -838px,
        offset_y: -201px,
        width: 32px,
        height: 33px,
        offset_x_retina: -419px,
        offset_y_retina: -100.5px,
        width_retina: 16px,
        height_retina: 16.5px),
    ico_ok: (
        offset_x: -664px,
        offset_y: -289px,
        width: 73px,
        height: 73px,
        offset_x_retina: -332px,
        offset_y_retina: -144.5px,
        width_retina: 36.5px,
        height_retina: 36.5px),
    ico_plus: (
        offset_x: -1155px,
        offset_y: -180px,
        width: 8px,
        height: 8px,
        offset_x_retina: -577.5px,
        offset_y_retina: -90px,
        width_retina: 4px,
        height_retina: 4px),
    ico_plus2: (
        offset_x: -904px,
        offset_y: -201px,
        width: 26px,
        height: 26px,
        offset_x_retina: -452px,
        offset_y_retina: -100.5px,
        width_retina: 13px,
        height_retina: 13px),
    ico_preview: (
        offset_x: -838px,
        offset_y: -238px,
        width: 13px,
        height: 21px,
        offset_x_retina: -419px,
        offset_y_retina: -119px,
        width_retina: 6.5px,
        height_retina: 10.5px),
    ico_twitter: (
        offset_x: -1278px,
        offset_y: -156px,
        width: 19px,
        height: 15px,
        offset_x_retina: -639px,
        offset_y_retina: -78px,
        width_retina: 9.5px,
        height_retina: 7.5px),
    ico_youtube: (
        offset_x: -1251px,
        offset_y: -156px,
        width: 23px,
        height: 16px,
        offset_x_retina: -625.5px,
        offset_y_retina: -78px,
        width_retina: 11.5px,
        height_retina: 8px),
    input_check: (
        offset_x: -1087px,
        offset_y: -180px,
        width: 17px,
        height: 17px,
        offset_x_retina: -543.5px,
        offset_y_retina: -90px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    input_check2: (
        offset_x: -874px,
        offset_y: -201px,
        width: 26px,
        height: 26px,
        offset_x_retina: -437px,
        offset_y_retina: -100.5px,
        width_retina: 13px,
        height_retina: 13px),
    input_check_on: (
        offset_x: -1066px,
        offset_y: -180px,
        width: 17px,
        height: 17px,
        offset_x_retina: -533px,
        offset_y_retina: -90px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    input_check_on2: (
        offset_x: -934px,
        offset_y: -201px,
        width: 26px,
        height: 26px,
        offset_x_retina: -467px,
        offset_y_retina: -100.5px,
        width_retina: 13px,
        height_retina: 13px),
    input_radio: (
        offset_x: -1048px,
        offset_y: -201px,
        width: 23px,
        height: 23px,
        offset_x_retina: -524px,
        offset_y_retina: -100.5px,
        width_retina: 11.5px,
        height_retina: 11.5px),
    input_radio2: (
        offset_x: -1108px,
        offset_y: -180px,
        width: 17px,
        height: 17px,
        offset_x_retina: -554px,
        offset_y_retina: -90px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    input_radio_on: (
        offset_x: -1021px,
        offset_y: -201px,
        width: 23px,
        height: 23px,
        offset_x_retina: -510.5px,
        offset_y_retina: -100.5px,
        width_retina: 11.5px,
        height_retina: 11.5px),
    input_radio_on2: (
        offset_x: -1045px,
        offset_y: -180px,
        width: 17px,
        height: 17px,
        offset_x_retina: -522.5px,
        offset_y_retina: -90px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    logo: (
        offset_x: -1145px,
        offset_y: -156px,
        width: 102px,
        height: 18px,
        offset_x_retina: -572.5px,
        offset_y_retina: -78px,
        width_retina: 51px,
        height_retina: 9px),
    logo_white: (
        offset_x: -838px,
        offset_y: -156px,
        width: 182px,
        height: 41px,
        offset_x_retina: -419px,
        offset_y_retina: -78px,
        width_retina: 91px,
        height_retina: 20.5px),
    menu: (
        offset_x: -1301px,
        offset_y: -156px,
        width: 17px,
        height: 14px,
        offset_x_retina: -650.5px,
        offset_y_retina: -78px,
        width_retina: 8.5px,
        height_retina: 7px),
    qut_end: (
        offset_x: -1345px,
        offset_y: -156px,
        width: 19px,
        height: 12px,
        offset_x_retina: -672.5px,
        offset_y_retina: -78px,
        width_retina: 9.5px,
        height_retina: 6px),
    qut_start: (
        offset_x: -1322px,
        offset_y: -156px,
        width: 19px,
        height: 12px,
        offset_x_retina: -661px,
        offset_y_retina: -78px,
        width_retina: 9.5px,
        height_retina: 6px),
    study_step1: (
        offset_x: -419px,
        offset_y: -78px,
        width: 989px,
        height: 74px,
        offset_x_retina: -209.5px,
        offset_y_retina: -39px,
        width_retina: 494.5px,
        height_retina: 37px),
    study_step2: (
        offset_x: -419px,
        offset_y: 0,
        width: 989px,
        height: 74px,
        offset_x_retina: -209.5px,
        offset_y_retina: 0,
        width_retina: 494.5px,
        height_retina: 37px),
);
