@mixin spr_spot_img_2x($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spot/spr_spot_img_2x.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_spot_img_2x: (
    spritesheet_name: spr_spot_img_2x,
    total_width: 5488px,
    total_height: 4220px,
    total_width_retina: 2744px,
    total_height_retina: 2110px,
    about_img1: (
        offset_x: 0,
        offset_y: -2936px,
        width: 2608px,
        height: 640px,
        offset_x_retina: 0,
        offset_y_retina: -1468px,
        width_retina: 1304px,
        height_retina: 320px),
    science_img1: (
        offset_x: 0,
        offset_y: -1932px,
        width: 2516px,
        height: 1000px,
        offset_x_retina: 0,
        offset_y_retina: -966px,
        width_retina: 1258px,
        height_retina: 500px),
    science_img2: (
        offset_x: -2612px,
        offset_y: -2936px,
        width: 2608px,
        height: 640px,
        offset_x_retina: -1306px,
        offset_y_retina: -1468px,
        width_retina: 1304px,
        height_retina: 320px),
    service_img1: (
        offset_x: -2520px,
        offset_y: -1932px,
        width: 2516px,
        height: 996px,
        offset_x_retina: -1260px,
        offset_y_retina: -966px,
        width_retina: 1258px,
        height_retina: 498px),
    service_img2: (
        offset_x: 0,
        offset_y: -3580px,
        width: 2608px,
        height: 640px,
        offset_x_retina: 0,
        offset_y_retina: -1790px,
        width_retina: 1304px,
        height_retina: 320px),
    service_img3: (
        offset_x: 0,
        offset_y: 0,
        width: 2968px,
        height: 1928px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 1484px,
        height_retina: 964px),
    spot_img01: (
        offset_x: -2972px,
        offset_y: 0,
        width: 2516px,
        height: 1416px,
        offset_x_retina: -1486px,
        offset_y_retina: 0,
        width_retina: 1258px,
        height_retina: 708px),
);
