@mixin spr_img_2x($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img_2x.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img_2x: (
    spritesheet_name: spr_img_2x,
    total_width: 658px,
    total_height: 286px,
    total_width_retina: 329px,
    total_height_retina: 143px,
    arrow_right: (
        offset_x: -49px,
        offset_y: -224px,
        width: 14px,
        height: 16px,
        offset_x_retina: -24.5px,
        offset_y_retina: -112px,
        width_retina: 7px,
        height_retina: 8px),
    ico_apply-end: (
        offset_x: 0,
        offset_y: 0,
        width: 170px,
        height: 170px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 85px,
        height_retina: 85px),
    ico_arrow_hide: (
        offset_x: -256px,
        offset_y: -146px,
        width: 30px,
        height: 18px,
        offset_x_retina: -128px,
        offset_y_retina: -73px,
        width_retina: 15px,
        height_retina: 9px),
    ico_arrow_next: (
        offset_x: -16px,
        offset_y: -268px,
        width: 12px,
        height: 18px,
        offset_x_retina: -8px,
        offset_y_retina: -134px,
        width_retina: 6px,
        height_retina: 9px),
    ico_arrow_prev: (
        offset_x: 0,
        offset_y: -268px,
        width: 12px,
        height: 18px,
        offset_x_retina: 0,
        offset_y_retina: -134px,
        width_retina: 6px,
        height_retina: 9px),
    ico_arrow_view: (
        offset_x: -532px,
        offset_y: -174px,
        width: 30px,
        height: 18px,
        offset_x_retina: -266px,
        offset_y_retina: -87px,
        width_retina: 15px,
        height_retina: 9px),
    ico_arrow_view2: (
        offset_x: -27px,
        offset_y: -224px,
        width: 18px,
        height: 28px,
        offset_x_retina: -13.5px,
        offset_y_retina: -112px,
        width_retina: 9px,
        height_retina: 14px),
    ico_arrowdown: (
        offset_x: -566px,
        offset_y: -174px,
        width: 27px,
        height: 16px,
        offset_x_retina: -283px,
        offset_y_retina: -87px,
        width_retina: 13.5px,
        height_retina: 8px),
    ico_arrowdown2: (
        offset_x: -597px,
        offset_y: -174px,
        width: 20px,
        height: 12px,
        offset_x_retina: -298.5px,
        offset_y_retina: -87px,
        width_retina: 10px,
        height_retina: 6px),
    ico_arrowright: (
        offset_x: -67px,
        offset_y: -224px,
        width: 8px,
        height: 14px,
        offset_x_retina: -33.5px,
        offset_y_retina: -112px,
        width_retina: 4px,
        height_retina: 7px),
    ico_att: (
        offset_x: -610px,
        offset_y: -99px,
        width: 48px,
        height: 48px,
        offset_x_retina: -305px,
        offset_y_retina: -49.5px,
        width_retina: 24px,
        height_retina: 24px),
    ico_brain: (
        offset_x: -148px,
        offset_y: -174px,
        width: 44px,
        height: 44px,
        offset_x_retina: -74px,
        offset_y_retina: -87px,
        width_retina: 22px,
        height_retina: 22px),
    ico_close: (
        offset_x: -279px,
        offset_y: -174px,
        width: 37px,
        height: 36px,
        offset_x_retina: -139.5px,
        offset_y_retina: -87px,
        width_retina: 18.5px,
        height_retina: 18px),
    ico_close2: (
        offset_x: -238px,
        offset_y: -174px,
        width: 37px,
        height: 36px,
        offset_x_retina: -119px,
        offset_y_retina: -87px,
        width_retina: 18.5px,
        height_retina: 18px),
    ico_delete: (
        offset_x: -434px,
        offset_y: -174px,
        width: 34px,
        height: 34px,
        offset_x_retina: -217px,
        offset_y_retina: -87px,
        width_retina: 17px,
        height_retina: 17px),
    ico_facebook: (
        offset_x: -510px,
        offset_y: -174px,
        width: 18px,
        height: 34px,
        offset_x_retina: -255px,
        offset_y_retina: -87px,
        width_retina: 9px,
        height_retina: 17px),
    ico_help: (
        offset_x: -556px,
        offset_y: -99px,
        width: 50px,
        height: 50px,
        offset_x_retina: -278px,
        offset_y_retina: -49.5px,
        width_retina: 25px,
        height_retina: 25px),
    ico_login: (
        offset_x: -320px,
        offset_y: -99px,
        width: 64px,
        height: 65px,
        offset_x_retina: -160px,
        offset_y_retina: -49.5px,
        width_retina: 32px,
        height_retina: 32.5px),
    ico_ok: (
        offset_x: -174px,
        offset_y: 0,
        width: 142px,
        height: 142px,
        offset_x_retina: -87px,
        offset_y_retina: 0,
        width_retina: 71px,
        height_retina: 71px),
    ico_peo: (
        offset_x: -100px,
        offset_y: -174px,
        width: 44px,
        height: 44px,
        offset_x_retina: -50px,
        offset_y_retina: -87px,
        width_retina: 22px,
        height_retina: 22px),
    ico_plus: (
        offset_x: -290px,
        offset_y: -146px,
        width: 16px,
        height: 16px,
        offset_x_retina: -145px,
        offset_y_retina: -73px,
        width_retina: 8px,
        height_retina: 8px),
    ico_plus2: (
        offset_x: -444px,
        offset_y: -99px,
        width: 52px,
        height: 52px,
        offset_x_retina: -222px,
        offset_y_retina: -49.5px,
        width_retina: 26px,
        height_retina: 26px),
    ico_preview: (
        offset_x: 0,
        offset_y: -224px,
        width: 23px,
        height: 40px,
        offset_x_retina: 0,
        offset_y_retina: -112px,
        width_retina: 11.5px,
        height_retina: 20px),
    ico_tel: (
        offset_x: -196px,
        offset_y: -174px,
        width: 38px,
        height: 38px,
        offset_x_retina: -98px,
        offset_y_retina: -87px,
        width_retina: 19px,
        height_retina: 19px),
    ico_twitter: (
        offset_x: -577px,
        offset_y: -60px,
        width: 38px,
        height: 30px,
        offset_x_retina: -288.5px,
        offset_y_retina: -30px,
        width_retina: 19px,
        height_retina: 15px),
    ico_youtube: (
        offset_x: -527px,
        offset_y: -60px,
        width: 46px,
        height: 32px,
        offset_x_retina: -263.5px,
        offset_y_retina: -30px,
        width_retina: 23px,
        height_retina: 16px),
    input_check: (
        offset_x: -358px,
        offset_y: -174px,
        width: 34px,
        height: 34px,
        offset_x_retina: -179px,
        offset_y_retina: -87px,
        width_retina: 17px,
        height_retina: 17px),
    input_check2: (
        offset_x: -500px,
        offset_y: -99px,
        width: 52px,
        height: 52px,
        offset_x_retina: -250px,
        offset_y_retina: -49.5px,
        width_retina: 26px,
        height_retina: 26px),
    input_check_on: (
        offset_x: -320px,
        offset_y: -174px,
        width: 34px,
        height: 34px,
        offset_x_retina: -160px,
        offset_y_retina: -87px,
        width_retina: 17px,
        height_retina: 17px),
    input_check_on2: (
        offset_x: -388px,
        offset_y: -99px,
        width: 52px,
        height: 52px,
        offset_x_retina: -194px,
        offset_y_retina: -49.5px,
        width_retina: 26px,
        height_retina: 26px),
    input_radio: (
        offset_x: 0,
        offset_y: -174px,
        width: 46px,
        height: 46px,
        offset_x_retina: 0,
        offset_y_retina: -87px,
        width_retina: 23px,
        height_retina: 23px),
    input_radio2: (
        offset_x: -396px,
        offset_y: -174px,
        width: 34px,
        height: 34px,
        offset_x_retina: -198px,
        offset_y_retina: -87px,
        width_retina: 17px,
        height_retina: 17px),
    input_radio_on: (
        offset_x: -50px,
        offset_y: -174px,
        width: 46px,
        height: 46px,
        offset_x_retina: -25px,
        offset_y_retina: -87px,
        width_retina: 23px,
        height_retina: 23px),
    input_radio_on2: (
        offset_x: -472px,
        offset_y: -174px,
        width: 34px,
        height: 34px,
        offset_x_retina: -236px,
        offset_y_retina: -87px,
        width_retina: 17px,
        height_retina: 17px),
    logo: (
        offset_x: -320px,
        offset_y: -60px,
        width: 203px,
        height: 35px,
        offset_x_retina: -160px,
        offset_y_retina: -30px,
        width_retina: 101.5px,
        height_retina: 17.5px),
    logo_white: (
        offset_x: -320px,
        offset_y: 0,
        width: 338px,
        height: 56px,
        offset_x_retina: -160px,
        offset_y_retina: 0,
        width_retina: 169px,
        height_retina: 28px),
    menu: (
        offset_x: -619px,
        offset_y: -60px,
        width: 34px,
        height: 28px,
        offset_x_retina: -309.5px,
        offset_y_retina: -30px,
        width_retina: 17px,
        height_retina: 14px),
    qut_end: (
        offset_x: -174px,
        offset_y: -146px,
        width: 37px,
        height: 23px,
        offset_x_retina: -87px,
        offset_y_retina: -73px,
        width_retina: 18.5px,
        height_retina: 11.5px),
    qut_start: (
        offset_x: -215px,
        offset_y: -146px,
        width: 37px,
        height: 23px,
        offset_x_retina: -107.5px,
        offset_y_retina: -73px,
        width_retina: 18.5px,
        height_retina: 11.5px),
);
