@mixin spr_img($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img: (
    spritesheet_name: spr_img,
    total_width: 335px,
    total_height: 168px,
    total_width_retina: 167.5px,
    total_height_retina: 84px,
    arrow_right: (
        offset_x: -78px,
        offset_y: -126px,
        width: 7px,
        height: 8px,
        offset_x_retina: -39px,
        offset_y_retina: -63px,
        width_retina: 3.5px,
        height_retina: 4px),
    ico_apply-end: (
        offset_x: 0,
        offset_y: 0,
        width: 85px,
        height: 85px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 42.5px,
        height_retina: 42.5px),
    ico_arrow_hide: (
        offset_x: -40px,
        offset_y: -126px,
        width: 15px,
        height: 9px,
        offset_x_retina: -20px,
        offset_y_retina: -63px,
        width_retina: 7.5px,
        height_retina: 4.5px),
    ico_arrow_next: (
        offset_x: -23px,
        offset_y: -151px,
        width: 6px,
        height: 9px,
        offset_x_retina: -11.5px,
        offset_y_retina: -75.5px,
        width_retina: 3px,
        height_retina: 4.5px),
    ico_arrow_prev: (
        offset_x: -13px,
        offset_y: -151px,
        width: 6px,
        height: 9px,
        offset_x_retina: -6.5px,
        offset_y_retina: -75.5px,
        width_retina: 3px,
        height_retina: 4.5px),
    ico_arrow_view: (
        offset_x: -59px,
        offset_y: -126px,
        width: 15px,
        height: 9px,
        offset_x_retina: -29.5px,
        offset_y_retina: -63px,
        width_retina: 7.5px,
        height_retina: 4.5px),
    ico_arrow_view2: (
        offset_x: -322px,
        offset_y: -32px,
        width: 9px,
        height: 14px,
        offset_x_retina: -161px,
        offset_y_retina: -16px,
        width_retina: 4.5px,
        height_retina: 7px),
    ico_arrowdown: (
        offset_x: -115px,
        offset_y: -77px,
        width: 7px,
        height: 4px,
        offset_x_retina: -57.5px,
        offset_y_retina: -38.5px,
        width_retina: 3.5px,
        height_retina: 2px),
    ico_arrowdown2: (
        offset_x: -101px,
        offset_y: -77px,
        width: 10px,
        height: 6px,
        offset_x_retina: -50.5px,
        offset_y_retina: -38.5px,
        width_retina: 5px,
        height_retina: 3px),
    ico_arrowright: (
        offset_x: -89px,
        offset_y: -126px,
        width: 4px,
        height: 7px,
        offset_x_retina: -44.5px,
        offset_y_retina: -63px,
        width_retina: 2px,
        height_retina: 3.5px),
    ico_att: (
        offset_x: -285px,
        offset_y: -54px,
        width: 24px,
        height: 24px,
        offset_x_retina: -142.5px,
        offset_y_retina: -27px,
        width_retina: 12px,
        height_retina: 12px),
    ico_brain: (
        offset_x: -90px,
        offset_y: -89px,
        width: 22px,
        height: 22px,
        offset_x_retina: -45px,
        offset_y_retina: -44.5px,
        width_retina: 11px,
        height_retina: 11px),
    ico_close: (
        offset_x: -162px,
        offset_y: -89px,
        width: 19px,
        height: 18px,
        offset_x_retina: -81px,
        offset_y_retina: -44.5px,
        width_retina: 9.5px,
        height_retina: 9px),
    ico_close2: (
        offset_x: -139px,
        offset_y: -89px,
        width: 19px,
        height: 18px,
        offset_x_retina: -69.5px,
        offset_y_retina: -44.5px,
        width_retina: 9.5px,
        height_retina: 9px),
    ico_delete: (
        offset_x: -248px,
        offset_y: -89px,
        width: 17px,
        height: 17px,
        offset_x_retina: -124px,
        offset_y_retina: -44.5px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    ico_facebook: (
        offset_x: 0,
        offset_y: -151px,
        width: 9px,
        height: 17px,
        offset_x_retina: 0,
        offset_y_retina: -75.5px,
        width_retina: 4.5px,
        height_retina: 8.5px),
    ico_help: (
        offset_x: -256px,
        offset_y: -54px,
        width: 25px,
        height: 25px,
        offset_x_retina: -128px,
        offset_y_retina: -27px,
        width_retina: 12.5px,
        height_retina: 12.5px),
    ico_login: (
        offset_x: 0,
        offset_y: -89px,
        width: 32px,
        height: 33px,
        offset_x_retina: 0,
        offset_y_retina: -44.5px,
        width_retina: 16px,
        height_retina: 16.5px),
    ico_ok: (
        offset_x: -89px,
        offset_y: 0,
        width: 73px,
        height: 73px,
        offset_x_retina: -44.5px,
        offset_y_retina: 0,
        width_retina: 36.5px,
        height_retina: 36.5px),
    ico_peo: (
        offset_x: -313px,
        offset_y: -54px,
        width: 22px,
        height: 22px,
        offset_x_retina: -156.5px,
        offset_y_retina: -27px,
        width_retina: 11px,
        height_retina: 11px),
    ico_plus: (
        offset_x: -89px,
        offset_y: -77px,
        width: 8px,
        height: 8px,
        offset_x_retina: -44.5px,
        offset_y_retina: -38.5px,
        width_retina: 4px,
        height_retina: 4px),
    ico_plus2: (
        offset_x: -196px,
        offset_y: -54px,
        width: 26px,
        height: 26px,
        offset_x_retina: -98px,
        offset_y_retina: -27px,
        width_retina: 13px,
        height_retina: 13px),
    ico_preview: (
        offset_x: 0,
        offset_y: -126px,
        width: 13px,
        height: 21px,
        offset_x_retina: 0,
        offset_y_retina: -63px,
        width_retina: 6.5px,
        height_retina: 10.5px),
    ico_tel: (
        offset_x: -116px,
        offset_y: -89px,
        width: 19px,
        height: 19px,
        offset_x_retina: -58px,
        offset_y_retina: -44.5px,
        width_retina: 9.5px,
        height_retina: 9.5px),
    ico_twitter: (
        offset_x: -299px,
        offset_y: -32px,
        width: 19px,
        height: 15px,
        offset_x_retina: -149.5px,
        offset_y_retina: -16px,
        width_retina: 9.5px,
        height_retina: 7.5px),
    ico_youtube: (
        offset_x: -272px,
        offset_y: -32px,
        width: 23px,
        height: 16px,
        offset_x_retina: -136px,
        offset_y_retina: -16px,
        width_retina: 11.5px,
        height_retina: 8px),
    input_check: (
        offset_x: -206px,
        offset_y: -89px,
        width: 17px,
        height: 17px,
        offset_x_retina: -103px,
        offset_y_retina: -44.5px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    input_check2: (
        offset_x: -226px,
        offset_y: -54px,
        width: 26px,
        height: 26px,
        offset_x_retina: -113px,
        offset_y_retina: -27px,
        width_retina: 13px,
        height_retina: 13px),
    input_check_on: (
        offset_x: -185px,
        offset_y: -89px,
        width: 17px,
        height: 17px,
        offset_x_retina: -92.5px,
        offset_y_retina: -44.5px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    input_check_on2: (
        offset_x: -166px,
        offset_y: -54px,
        width: 26px,
        height: 26px,
        offset_x_retina: -83px,
        offset_y_retina: -27px,
        width_retina: 13px,
        height_retina: 13px),
    input_radio: (
        offset_x: -36px,
        offset_y: -89px,
        width: 23px,
        height: 23px,
        offset_x_retina: -18px,
        offset_y_retina: -44.5px,
        width_retina: 11.5px,
        height_retina: 11.5px),
    input_radio2: (
        offset_x: -227px,
        offset_y: -89px,
        width: 17px,
        height: 17px,
        offset_x_retina: -113.5px,
        offset_y_retina: -44.5px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    input_radio_on: (
        offset_x: -63px,
        offset_y: -89px,
        width: 23px,
        height: 23px,
        offset_x_retina: -31.5px,
        offset_y_retina: -44.5px,
        width_retina: 11.5px,
        height_retina: 11.5px),
    input_radio_on2: (
        offset_x: -269px,
        offset_y: -89px,
        width: 17px,
        height: 17px,
        offset_x_retina: -134.5px,
        offset_y_retina: -44.5px,
        width_retina: 8.5px,
        height_retina: 8.5px),
    logo: (
        offset_x: -166px,
        offset_y: -32px,
        width: 102px,
        height: 18px,
        offset_x_retina: -83px,
        offset_y_retina: -16px,
        width_retina: 51px,
        height_retina: 9px),
    logo_white: (
        offset_x: -166px,
        offset_y: 0,
        width: 169px,
        height: 28px,
        offset_x_retina: -83px,
        offset_y_retina: 0,
        width_retina: 84.5px,
        height_retina: 14px),
    menu: (
        offset_x: -290px,
        offset_y: -89px,
        width: 17px,
        height: 14px,
        offset_x_retina: -145px,
        offset_y_retina: -44.5px,
        width_retina: 8.5px,
        height_retina: 7px),
    qut_end: (
        offset_x: -311px,
        offset_y: -89px,
        width: 19px,
        height: 12px,
        offset_x_retina: -155.5px,
        offset_y_retina: -44.5px,
        width_retina: 9.5px,
        height_retina: 6px),
    qut_start: (
        offset_x: -17px,
        offset_y: -126px,
        width: 19px,
        height: 12px,
        offset_x_retina: -8.5px,
        offset_y_retina: -63px,
        width_retina: 9.5px,
        height_retina: 6px),
);
