@mixin spr_img_2x($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spr_img/spr_img_2x.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_img_2x: (
    spritesheet_name: spr_img_2x,
    total_width: 2812px,
    total_height: 1138px,
    total_width_retina: 1406px,
    total_height_retina: 569px,
    arrow_right: (
        offset_x: -2551px,
        offset_y: -378px,
        width: 14px,
        height: 16px,
        offset_x_retina: -1275.5px,
        offset_y_retina: -189px,
        width_retina: 7px,
        height_retina: 8px),
    bg01: (
        offset_x: -834px,
        offset_y: -304px,
        width: 304px,
        height: 442px,
        offset_x_retina: -417px,
        offset_y_retina: -152px,
        width_retina: 152px,
        height_retina: 221px),
    bg02: (
        offset_x: 0,
        offset_y: -834px,
        width: 258px,
        height: 304px,
        offset_x_retina: 0,
        offset_y_retina: -417px,
        width_retina: 129px,
        height_retina: 152px),
    bg03: (
        offset_x: -1450px,
        offset_y: -304px,
        width: 206px,
        height: 206px,
        offset_x_retina: -725px,
        offset_y_retina: -152px,
        width_retina: 103px,
        height_retina: 103px),
    bg04: (
        offset_x: 0,
        offset_y: 0,
        width: 830px,
        height: 830px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 415px,
        height_retina: 415px),
    bg05: (
        offset_x: -262px,
        offset_y: -834px,
        width: 100px,
        height: 292px,
        offset_x_retina: -131px,
        offset_y_retina: -417px,
        width_retina: 50px,
        height_retina: 146px),
    bg06: (
        offset_x: -1142px,
        offset_y: -304px,
        width: 304px,
        height: 258px,
        offset_x_retina: -571px,
        offset_y_retina: -152px,
        width_retina: 152px,
        height_retina: 129px),
    f_ssl: (
        offset_x: -2190px,
        offset_y: -304px,
        width: 234px,
        height: 40px,
        offset_x_retina: -1095px,
        offset_y_retina: -152px,
        width_retina: 117px,
        height_retina: 20px),
    ico_apply-end: (
        offset_x: -1660px,
        offset_y: -304px,
        width: 170px,
        height: 170px,
        offset_x_retina: -830px,
        offset_y_retina: -152px,
        width_retina: 85px,
        height_retina: 85px),
    ico_arrow_hide: (
        offset_x: -2231px,
        offset_y: -348px,
        width: 30px,
        height: 18px,
        offset_x_retina: -1115.5px,
        offset_y_retina: -174px,
        width_retina: 15px,
        height_retina: 9px),
    ico_arrow_next: (
        offset_x: -1834px,
        offset_y: -447px,
        width: 12px,
        height: 18px,
        offset_x_retina: -917px,
        offset_y_retina: -223.5px,
        width_retina: 6px,
        height_retina: 9px),
    ico_arrow_prev: (
        offset_x: -1850px,
        offset_y: -447px,
        width: 12px,
        height: 18px,
        offset_x_retina: -925px,
        offset_y_retina: -223.5px,
        width_retina: 6px,
        height_retina: 9px),
    ico_arrow_view: (
        offset_x: -2265px,
        offset_y: -348px,
        width: 30px,
        height: 18px,
        offset_x_retina: -1132.5px,
        offset_y_retina: -174px,
        width_retina: 15px,
        height_retina: 9px),
    ico_arrow_view2: (
        offset_x: -2529px,
        offset_y: -378px,
        width: 18px,
        height: 28px,
        offset_x_retina: -1264.5px,
        offset_y_retina: -189px,
        width_retina: 9px,
        height_retina: 14px),
    ico_arrowdown: (
        offset_x: -2299px,
        offset_y: -348px,
        width: 27px,
        height: 16px,
        offset_x_retina: -1149.5px,
        offset_y_retina: -174px,
        width_retina: 13.5px,
        height_retina: 8px),
    ico_arrowdown2: (
        offset_x: -2350px,
        offset_y: -348px,
        width: 20px,
        height: 12px,
        offset_x_retina: -1175px,
        offset_y_retina: -174px,
        width_retina: 10px,
        height_retina: 6px),
    ico_arrowright: (
        offset_x: -2569px,
        offset_y: -378px,
        width: 8px,
        height: 14px,
        offset_x_retina: -1284.5px,
        offset_y_retina: -189px,
        width_retina: 4px,
        height_retina: 7px),
    ico_att: (
        offset_x: -2124px,
        offset_y: -378px,
        width: 48px,
        height: 48px,
        offset_x_retina: -1062px,
        offset_y_retina: -189px,
        width_retina: 24px,
        height_retina: 24px),
    ico_close: (
        offset_x: -2276px,
        offset_y: -378px,
        width: 37px,
        height: 36px,
        offset_x_retina: -1138px,
        offset_y_retina: -189px,
        width_retina: 18.5px,
        height_retina: 18px),
    ico_delete: (
        offset_x: -2317px,
        offset_y: -378px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1158.5px,
        offset_y_retina: -189px,
        width_retina: 17px,
        height_retina: 17px),
    ico_facebook: (
        offset_x: -2507px,
        offset_y: -378px,
        width: 18px,
        height: 34px,
        offset_x_retina: -1253.5px,
        offset_y_retina: -189px,
        width_retina: 9px,
        height_retina: 17px),
    ico_help: (
        offset_x: -2070px,
        offset_y: -378px,
        width: 50px,
        height: 50px,
        offset_x_retina: -1035px,
        offset_y_retina: -189px,
        width_retina: 25px,
        height_retina: 25px),
    ico_login: (
        offset_x: -1834px,
        offset_y: -378px,
        width: 64px,
        height: 65px,
        offset_x_retina: -917px,
        offset_y_retina: -189px,
        width_retina: 32px,
        height_retina: 32.5px),
    ico_ok: (
        offset_x: -1142px,
        offset_y: -566px,
        width: 142px,
        height: 142px,
        offset_x_retina: -571px,
        offset_y_retina: -283px,
        width_retina: 71px,
        height_retina: 71px),
    ico_plus: (
        offset_x: -2330px,
        offset_y: -348px,
        width: 16px,
        height: 16px,
        offset_x_retina: -1165px,
        offset_y_retina: -174px,
        width_retina: 8px,
        height_retina: 8px),
    ico_plus2: (
        offset_x: -1958px,
        offset_y: -378px,
        width: 52px,
        height: 52px,
        offset_x_retina: -979px,
        offset_y_retina: -189px,
        width_retina: 26px,
        height_retina: 26px),
    ico_preview: (
        offset_x: -1450px,
        offset_y: -514px,
        width: 23px,
        height: 40px,
        offset_x_retina: -725px,
        offset_y_retina: -257px,
        width_retina: 11.5px,
        height_retina: 20px),
    ico_twitter: (
        offset_x: -2686px,
        offset_y: -304px,
        width: 38px,
        height: 30px,
        offset_x_retina: -1343px,
        offset_y_retina: -152px,
        width_retina: 19px,
        height_retina: 15px),
    ico_youtube: (
        offset_x: -2636px,
        offset_y: -304px,
        width: 46px,
        height: 32px,
        offset_x_retina: -1318px,
        offset_y_retina: -152px,
        width_retina: 23px,
        height_retina: 16px),
    input_check: (
        offset_x: -2431px,
        offset_y: -378px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1215.5px,
        offset_y_retina: -189px,
        width_retina: 17px,
        height_retina: 17px),
    input_check2: (
        offset_x: -1902px,
        offset_y: -378px,
        width: 52px,
        height: 52px,
        offset_x_retina: -951px,
        offset_y_retina: -189px,
        width_retina: 26px,
        height_retina: 26px),
    input_check_on: (
        offset_x: -2393px,
        offset_y: -378px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1196.5px,
        offset_y_retina: -189px,
        width_retina: 17px,
        height_retina: 17px),
    input_check_on2: (
        offset_x: -2014px,
        offset_y: -378px,
        width: 52px,
        height: 52px,
        offset_x_retina: -1007px,
        offset_y_retina: -189px,
        width_retina: 26px,
        height_retina: 26px),
    input_radio: (
        offset_x: -2226px,
        offset_y: -378px,
        width: 46px,
        height: 46px,
        offset_x_retina: -1113px,
        offset_y_retina: -189px,
        width_retina: 23px,
        height_retina: 23px),
    input_radio2: (
        offset_x: -2469px,
        offset_y: -378px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1234.5px,
        offset_y_retina: -189px,
        width_retina: 17px,
        height_retina: 17px),
    input_radio_on: (
        offset_x: -2176px,
        offset_y: -378px,
        width: 46px,
        height: 46px,
        offset_x_retina: -1088px,
        offset_y_retina: -189px,
        width_retina: 23px,
        height_retina: 23px),
    input_radio_on2: (
        offset_x: -2355px,
        offset_y: -378px,
        width: 34px,
        height: 34px,
        offset_x_retina: -1177.5px,
        offset_y_retina: -189px,
        width_retina: 17px,
        height_retina: 17px),
    logo: (
        offset_x: -2428px,
        offset_y: -304px,
        width: 204px,
        height: 36px,
        offset_x_retina: -1214px,
        offset_y_retina: -152px,
        width_retina: 102px,
        height_retina: 18px),
    logo_white: (
        offset_x: -1834px,
        offset_y: -304px,
        width: 352px,
        height: 70px,
        offset_x_retina: -917px,
        offset_y_retina: -152px,
        width_retina: 176px,
        height_retina: 35px),
    menu: (
        offset_x: -2728px,
        offset_y: -304px,
        width: 34px,
        height: 28px,
        offset_x_retina: -1364px,
        offset_y_retina: -152px,
        width_retina: 17px,
        height_retina: 14px),
    qut_end: (
        offset_x: -2766px,
        offset_y: -304px,
        width: 37px,
        height: 23px,
        offset_x_retina: -1383px,
        offset_y_retina: -152px,
        width_retina: 18.5px,
        height_retina: 11.5px),
    qut_start: (
        offset_x: -2190px,
        offset_y: -348px,
        width: 37px,
        height: 23px,
        offset_x_retina: -1095px,
        offset_y_retina: -174px,
        width_retina: 18.5px,
        height_retina: 11.5px),
    study_step1: (
        offset_x: -834px,
        offset_y: -152px,
        width: 1978px,
        height: 148px,
        offset_x_retina: -417px,
        offset_y_retina: -76px,
        width_retina: 989px,
        height_retina: 74px),
    study_step2: (
        offset_x: -834px,
        offset_y: 0,
        width: 1978px,
        height: 148px,
        offset_x_retina: -417px,
        offset_y_retina: 0,
        width_retina: 989px,
        height_retina: 74px),
);
