@mixin spr_spot_img($important:null){
    @if $important {
        $important : unquote('!important');
    }
    overflow: hidden;
    display: inline-block;
    text-indent: -999px;
    background-image: url('../images/spot/spr_spot_img.png') $important;
    background-repeat: no-repeat;
    content: '';
}

$spr_spot_img: (
    spritesheet_name: spr_spot_img,
    total_width: 2520px,
    total_height: 2184px,
    total_width_retina: 1260px,
    total_height_retina: 1092px,
    about_img1: (
        offset_x: 0,
        offset_y: -1216px,
        width: 1304px,
        height: 320px,
        offset_x_retina: 0,
        offset_y_retina: -608px,
        width_retina: 652px,
        height_retina: 160px),
    science_img1: (
        offset_x: 0,
        offset_y: -712px,
        width: 1258px,
        height: 500px,
        offset_x_retina: 0,
        offset_y_retina: -356px,
        width_retina: 629px,
        height_retina: 250px),
    science_img2: (
        offset_x: 0,
        offset_y: -1540px,
        width: 1304px,
        height: 320px,
        offset_x_retina: 0,
        offset_y_retina: -770px,
        width_retina: 652px,
        height_retina: 160px),
    service_img1: (
        offset_x: -1262px,
        offset_y: 0,
        width: 1258px,
        height: 498px,
        offset_x_retina: -631px,
        offset_y_retina: 0,
        width_retina: 629px,
        height_retina: 249px),
    service_img2: (
        offset_x: 0,
        offset_y: -1864px,
        width: 1304px,
        height: 320px,
        offset_x_retina: 0,
        offset_y_retina: -932px,
        width_retina: 652px,
        height_retina: 160px),
    service_img3: (
        offset_x: -1262px,
        offset_y: -502px,
        width: 742px,
        height: 482px,
        offset_x_retina: -631px,
        offset_y_retina: -251px,
        width_retina: 371px,
        height_retina: 241px),
    spot_img01: (
        offset_x: 0,
        offset_y: 0,
        width: 1258px,
        height: 708px,
        offset_x_retina: 0,
        offset_y_retina: 0,
        width_retina: 629px,
        height_retina: 354px),
);
