@charset "UTF-8";
.wrap {
  width: $G-contents-fit;
  min-height:$G-contents-fit;
  position: relative;
  padding-bottom: 205px;
  &.other,
  &.login {
    background: $C-cont-bg;
  }

}
.header {
  position: relative;
  width : $G-contents;
  height: 62px;
  margin: 0 auto;
  background: $C-white;
  @include clear;

  .logo {
    float:left;
    vertical-align: top;
    margin: 13px 0 0 8px;

    &__img {
      @include use-sprite(logo);

    }

  }
  .menu {
    margin: 24px 0 0 15px;
    @include use-sprite(menu);
    float:left;
  }
  .apply {
    float:right;
    margin: 15px 15px 0 0;
  }
}
.contents {
  width : $G-contents-fit;
  margin: 0 auto;
  padding: 50px 0;
}
.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  .menu {
    height: 52px;
    border: 1px solid #d5dcdc;
    border-width: 1px 0;
    margin: 0 auto;
    text-align: center;
    background: $C-white;

    &__area {
      margin: 0 auto;
    }
    &__item {
      display: inline-block;
      vertical-align: top;
      &.active {
        .menu__link {
          color: $C-font-basic;
        }
      }
    }
    &__link {
      font-weight: 600;
      color: $C-font-basic;
      font-size: $F-size-xsmall;
      line-height: 50px;

    }
    .menu__item + .menu__item {
      &:before {
        display: inline-block;
        vertical-align: top;
        width: 1px;
        height: 10px;
        background: $C-font-basic;
        margin: 21px 12px 0 9px;
        opacity: .5;
        content:'';

      }
    }
  }
  .foot_area {
    background: $C-bgFooter;
    padding: 20px 0;

    .foot_info {
      text-align: center;
      padding-top: 20px;

      &__address {
        display: block;
        vertical-align: top;
        color: $C-font-basic;
        font-size: $F-size-xsmall;
      }
      &__mail {
        padding-top: 10px;
        display: block;
        vertical-align: top;
        color: $C-font-basic;
        font-family: $F-family-en2;
        font-size: $F-size-xsmall;


      }
      &__mail-link {
        display: inline-block;
        vertical-align: top;
        margin-left: 5px;
        color: $C-font-basic;
        font-family: $F-family-en2;

      }

    }
    .foot_copy {
      text-align: center;
      color: $C-font-basic;
      font-size: 1.0rem;
      padding-top: 30px;

      .foot_copy-text {
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
      }
    }
    .foot_logo {
      color: $C-font-basic;
      font-size: $F-size;
      font-family: $F-family-semibold;
      text-align: center;
    }
  }
}

.other {
  .top_area {
    background: $C-white;
    width: $G-contents-fit;
    border-bottom: 1px solid $C-menu-line;
  }

}
