@charset "UTF-8";
/* variables.scss */

/*
  $base- reset용 기본 변수입니다.
  $F- 폰트 관련 변수입니다.
  $C- 컬러 관련 변수입니다.
  $G- 글로벌 변수입니다.
  $M- Mixin 변수입니다.
*/
// layout Width
$G-contents:100%;
$G-contents-fit:100%;
// Base Font Style
$base-font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif !important;
$base-font-size: 10px;
$base-line-height: 1.3;
$F-family-en: 'Open Sans', sans-serif !important;
$F-family-en2: Avenir, Avenir Next, 'Noto Sans', sans-serif !important;
$F-family-number: 'Barlow', sans-serif !important;
$F-family-login: 'Nanum Square', sans-serif !important;
$F-family-semibold : HelveticaNeue-SemiBold, AppleSDGothicNeo-SemiBold, sans-serif !important;

// Font size
$F-size-xxxbig: 7.2rem;
$F-size-xxbig: 1.9rem;
$F-size-xbig: 1.7rem;
$F-size-big: 1.6rem;
$F-size: 1.4rem;
$F-size-under: 1.3rem;
$F-size-small: 1.2rem;
$F-size-xsmall: 1.1rem;

// Font weight
$F-weight-reset: normal;
$F-weight-light: 100;
$F-weight-regular: 400;
$F-weight-bold: 700;
$F-weight-heavy: 800;

// Color
$C-brand: #231f20; //로고 짙은회색
$C-brand-point: #3779de; //포인트 블루
$C-brand-point2: #0068b7;//포인트 짙은블루
$C-primary: #5674d7; //primary
$C-red-point: #f1504a;//빨간색 포인트
$C-cont-bg:#f6f6f8; //전체 bg 회색
$C-menu-line:#a0a0a0; //메뉴라인컬러
$C-error: #ff0000; // 에러컬러

// Font color
$C-font-basic: #888; //기본 폰트컬러
$C-font-light: #666; //약한 폰트컬러
$C-font-normal: #444; //진한 폰트컬러
$C-font-light2: #a9a9a9; //약한 폰트컬러
$C-font-dark: #242424; //강한 폰트컬러
$C-font-dark-gray: #1a1a1a; //강한 폰트컬러

$C-font-dark-gray2: #161616; //강한 폰트컬러
$C-font-point : #ff4909;//강조의 오렌지 컬러
$C-font-disable: #bcbcbc;

//basic color
$C-white: #fff; //흰색
$C-black: #000; //검정색
$C-bgColor: #f8f8f8; //밝은 회색
$C-bgFooter : #ededed; //푸터회색
$S-local-img : "../images";

